/* font */
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");
/* icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* colors */
:root {
    --color1: #7c93c3;
    --color2: #55679c;
    --color3: #55679c;
    --color4: #1e2a5e;
    --color5: #e1d7b7;
}

.color1 {
    color: var(--color1) !important;
}

.bg1 {
    background-color: var(--color1) !important;
}

.color2 {
    color: var(--color2) !important;
}

.bg2 {
    background-color: var(--color2) !important;
}

.color3 {
    color: var(--color3) !important;
}

.bg3 {
    background-color: var(--color3) !important;
}

.color4 {
    color: var(--color4) !important;
}

.bg4 {
    background-color: var(--color4) !important;
}

.color5 {
    color: var(--color5) !important;
}

.bg5 {
    background-color: var(--color5) !important;
}

/* end color */

* {
    font-family: "Arimo", serif;
}

/* nav */
.bg-nav {
    background: rgba(30, 42, 94, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}
/* end nav */

/* home */
/* hero */
.hero {
    background: #74ebd5; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #acb6e5,
        #74ebd5
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #acb6e5,
        #e1d7b7
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* end hero */

/* feature */
.bg-feature {
    background-color: #55679c;
}
/* end feature */

/* utlz */
.plx {
}

.text-shadow {
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* end parallax */

/* collaboration */
.brand {
    max-height: 96px;
    margin: 10px;
    padding: 16px;
}

.bg-card {
    background: #36d1dc; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #5b86e5,
        #36d1dc
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #5b86e5,
        #36d1dc
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* end collaboration */

/* home-services */
.bg-section1 {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1689%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsRadialGradient1690%26quot%3b)'%3e%3c/rect%3e%3ccircle r='93.335' cx='-14.32' cy='71.55' stroke='white' stroke-opacity='0.11' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.335' cx='425.47' cy='335.5' stroke='white' stroke-opacity='0.11' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.335' cx='706.7' cy='750.39' stroke='white' stroke-opacity='0.11' stroke-width='2'%3e%3c/circle%3e%3ccircle r='176.19' cx='456.99' cy='5.24' stroke='white' stroke-opacity='0.11' stroke-width='2'%3e%3c/circle%3e%3ccircle r='60.475' cx='1033.91' cy='286.09' stroke='white' stroke-opacity='0.11' stroke-width='2'%3e%3c/circle%3e%3ccircle r='139.545' cx='575.68' cy='249.89' stroke='white' stroke-opacity='0.11' stroke-width='2'%3e%3c/circle%3e%3ccircle r='177.005' cx='862.78' cy='461.51' stroke='white' stroke-opacity='0.11' stroke-width='2'%3e%3c/circle%3e%3ccircle r='154.775' cx='915.19' cy='429.17' stroke='white' stroke-opacity='0.11' stroke-width='2'%3e%3c/circle%3e%3ccircle r='72.235' cx='727.99' cy='3.86' stroke='white' stroke-opacity='0.11' stroke-width='2'%3e%3c/circle%3e%3ccircle r='152.84' cx='70.47' cy='282' stroke='white' stroke-opacity='0.11' stroke-width='2'%3e%3c/circle%3e%3ccircle r='95.545' cx='570.26' cy='376.51' stroke='white' stroke-opacity='0.11' stroke-width='2'%3e%3c/circle%3e%3ccircle r='146.015' cx='794.55' cy='250.1' stroke='white' stroke-opacity='0.11' stroke-width='2'%3e%3c/circle%3e%3ccircle r='160.11' cx='1323.8' cy='345.78' stroke='white' stroke-opacity='0.11' stroke-width='2'%3e%3c/circle%3e%3ccircle r='102.845' cx='197.53' cy='269.13' stroke='white' stroke-opacity='0.11' stroke-width='2'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1689'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3cradialGradient cx='50%25' cy='100%25' r='912.14' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1690'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(85%2c 103%2c 156%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    width: 100%; /* Pastikan width diatur */
}
.img-size {
    max-height: 36rem;
}
/* end home-services */

/* end home */
